* {
  scrollbar-width: thin;
  scrollbar-color: #fff transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background: #fff !important;
  border: 2px solid var(--ink) !important;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--acid) !important;
}
