:root {
  --scrollbar-thumb: #fff;
  --scrollbar-thumb-hover: #fff;
  --scrollbar-thumb-active: #fff;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb) !important;
  border: 0;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover) !important;
}

*::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-active) !important;
}
